*.pyc
*.pyo
__pycache__
*.so
*.o

*.egg
*.egg-info

Cython0/Compiler/*.c
Cython0/Plex/*.c
Cython0/Runtime/refnanny.c
Cython0/Tempita/*.c
Cython0/*.c

Tools/*.elc

/TEST_TMP/
/build/
/wheelhouse*/
!tests/build/
/dist/
.gitrev
.coverage
*.orig
*.rej
*.dep
*.swp
*~

.ipynb_checkpoints
docs/build

tags
TAGS
MANIFEST

.tox

# Jetbrains IDE project files
/.idea
/*.iml

# Visual Studio Code files
.vscode
